---
import Base from '@/templates/Base.astro';
import { AppConfig } from '@/utils/AppConfig';

const { title } = AppConfig;
const { description } = AppConfig;

const articles = [
  { label: 'Avril 2023', path: '/articles/newsletter_avril_2023.pdf' },
  { label: 'Mai 2023', path: '/articles/newsletter_mai_2023.pdf' },
  { label: 'Juin 2023', path: '/articles/newsletter_juin_2023.pdf' },
  { label: 'Juillet et août 2023', path: '/articles/newsletter_juillet_et_août_2023.pdf' },
  { label: 'Septembre 2023', path: '/articles/newsletter_septembre_2023.pdf' },
  { label: 'Octobre 2023', path: '/articles/newsletter_octobre_2023.pdf' },
  { label: 'Novembre 2023', path: '/articles/newsletter_novembre_2023.pdf' },
  { label: 'Décembre 2023', path: '/articles/newsletter_decembre_2023.pdf' },

  { label: 'Janvier 2024', path: '/articles/newsletter_janvier_2024.pdf' },
  { label: 'Février 2024', path: '/articles/newsletter_février_2024.pdf' },
  { label: 'Mars 2024', path: '/articles/newsletter_mars_2024.pdf' },
  { label: 'Avril 2024', path: '/articles/newsletter_avril_2024.pdf' },
  { label: 'Mai 2024', path: '/articles/newsletter_mai_2024.pdf' },
  { label: 'Juin 2024', path: '/articles/newsletter_juin_2024.pdf' },
]
---

<Base head={{ title, description }}>
  <div class="mx-auto max-w-screen-lg px-5 py-10">
    <h1 class="scroll-m-20 text-4xl font-extrabold tracking-tight lg:text-5xl">
      Les gazettes
    </h1>

    <ul role="list" class="my-10 divide-y divide-gray-100 overflow-hidden bg-white shadow-sm ring-1 ring-gray-900/5 sm:rounded-xl">
      {articles.reverse().map((article) => (
        <li class="relative flex justify-between gap-x-6 px-4 py-5 sm:px-6">
          <div class="flex min-w-0 gap-x-4">
            <div class="min-w-0 flex-auto">
              <p class="text-sm font-semibold leading-6 text-gray-900">
                {article.label}
              </p>
            </div>
          </div>
          <div class="flex shrink-0 items-center gap-x-4">
            <a
              href={article.path}
              class="flex items-center gap-x-3 text-sm text-primary-500 hover:text-primary-600"
              download
            >
              Télécharger
              <svg class="h-5 w-5 flex-none text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z" clip-rule="evenodd" />
              </svg>
            </a>
          </div>
        </li>
      ))}
    </ul>
  </div>
</Base>
