---
import type {
  FrontmatterPage,
  IFrontmatter,
} from 'astro-boilerplate-components';

import { Section } from '@/partials/Section';
import { BlogGallery } from '@/partials/BlogGallery';
import { PaginationHeader } from '@/partials/PaginationHeader';
import { NewerOlderPagination } from '@/partials/NewerOlderPagination';
import { CTA } from '@/partials/CTA';
import Base from '@/templates/Base.astro';
import { AppConfig } from '@/utils/AppConfig';
import { sortByDate } from '@/utils/Posts';

type GetStaticPaths = {
  paginate: any;
}; // Overrides `GetStaticPathsOptions` types from Astro

export async function getStaticPaths({ paginate }: GetStaticPaths) {
  const allPosts = await Astro.glob<IFrontmatter>('./*.md');
  const sortedPosts = sortByDate(allPosts);

  // Return a paginated collection of paths for all posts
  return paginate(sortedPosts, { pageSize: 6 });
}

interface Props {
  page: FrontmatterPage;
}

const { page } = Astro.props as Props;
const titleSuffix = ` - ${AppConfig.site_name}`;
const titleBase = 'Articles';
const title = titleBase + titleSuffix;
const description =
  'Retrouvez tous mes articles autours de mon activité à un seul endroit.';
---

<Base head={{ title, description }}>
  <Section>
    <PaginationHeader
      title='Mes articles'
      description='Retrouvez tous mes articles autours de mon activité à un seul endroit.'
    />
  </Section>

  <Section>
    <BlogGallery postList={page.data} />
  </Section>

  <Section>
    <NewerOlderPagination page={page} />
  </Section>
  <CTA />
</Base>
